<div class="card border-primary mb-3" style="max-width: 17rem;">
    
    <div class="card-body text-primary">
      <h5 class="card-title ajust">
       <input type="text" placeholder="Title" [(ngModel)]="titleNew">
      </h5>
      <p class="card-text ajust">
        <textarea class="form-control" placeholder="Description" id="floatingTextarea2" style="height: 100px"></textarea>
      </p>
    </div>
    <div class="card-footer bg-transparent border-primary"><div class="row">
      <div class="col ajust">
        <button type="button" class="btn btn-outline-success" (click)="AdicionarEmToDo()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg>
              
        </button>
      </div>
    </div>
  </div>

  <p *ngIf="statusBotaoPlus">
    {{ verificarOBotaoPlus }} 
    {{ titleNew }}
    
  </p>

  <p *ngFor="let item of testeArray"> {{ item.name }} </p>
  

