body {
    text-align: center;
    background-color: #4b5c59;
  }

  h1, h3{
    font-size: 2.5rem;
    color: aliceblue;
  }

  .botoes{
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #333;
    background: white;
    border-radius: 10px;
  }

  .container1 {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    flex-wrap: wrap;
  
  }

  .container2 {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  
  }

  .btn {
    margin: 25px;
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 3px solid rgb(103, 124, 124);
    border-radius: 100%;
  }

  .red {
    background-color: red;
    margin-top: 200px;
  }

  .orange {
    background-color: orange;
    margin-top: 185px;
}

  .yellow {
    background-color: yellow;
    margin-top: 175px;
  }

    
  .green {
    background-color: green;
    margin-top: 165px;
  }
  
  .blue {
    background-color: blue;
    margin-top: 155px;
  }
  
  .purple {
      background-color: purple;
      margin-top: 145px;
  }

  .pink {
      background-color: pink;
      margin-top: 135px;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }

  .pressed2 {
    box-shadow: 0 0 20px white;
    background-color: rgb(28, 231, 221);
  }

  .hidden {
      display: none;
  }