body{
    background-color: #D4ECDD;
}
hr {
    width: 5%;
    /*border-top: 5px dotted grey*/
    /*border-style: dotted none none;*/
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    

}

h1{
    color: #345b63;
}

h3{
    color: #345b63;
}

