<app-server></app-server>
<app-servers></app-servers>
<app-sucess-alert></app-sucess-alert>
<app-warning-alert></app-warning-alert>


<div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ol>
            <li>Adicione um input que atualiza a propriedade ('username') via Two-Way-Binding</li>
            <li>Mostre a propriedade username via Interpolação de String (em um parágrafo abaixo do input)</li>
            <li>Adicione um botão que pode ser clicado apenas se o username NÃO for uma string vazia</li>
            <li>Quando clicar no botão, o username deve ser resetado a uma string vazia.</li>
          </ol>
      </div>
    </div>
  </div>

  <label for="">Username</label>
  <input type="text" class="form-control" [(ngModel)]="username">
  <p>{{ username }}</p>

  <button class="btn btn-primary" [disabled]="checkUsername()" (click)="resetUsername()">Resete o usuário</button>